

:root {
    --red: #E0A6AA;
    --orange: #EDDD6E;
    --yellow: #F8FD89;
    --green: #A8F29A;
    --blue: #DBE1f1;
    --grey: #D8D3D6;
}
  p.small {
    line-height: 1.325;
  }
  p.big {
    line-height: 1.875
  }
* {box-sizing: border-box;}

body {
  margin: 10;
  font-family: Arial, Helvetica, sans-serif;
}
.header img {
  float: left;
  width: 85px;
  height: 85px;
  margin-right:10px;
  border:none;
  background: #555;
}
.menu{
  overflow: hidden;
  background: var(--blue);
}
.item{
  padding: 10px 10px;
}
a {
  float: left;
  display: block;
  color:black;
  background: var(--grey);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
a.active {
  background-color:grey;
  color: white;
}
.menu{
  list-style-type: none;
}

@media screen and (max-width: 600px) {
  .menu a, .menu input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 10;
    padding: 15px 5px;
  }

  .topnav input[type=text] {
    border: 1px solid var(--grey);
  }
}
.logo {
  width: 500px;

}
.icon{
  width: 100px;
}