

:root {
    --red: #E0A6AA;
    --orange: #EDDD6E;
    --yellow: #F8FD89;
    --green: #A8F29A;
    --blue: #DBE1f1;
    --grey: #D8D3D6;
}
  p.small {
    line-height: 1.325;
  }
  p.big {
    line-height: 1.875
  }
* {box-sizing: border-box;}

body {
  margin: 10;
  font-family: Arial, Helvetica, sans-serif;
}
.menu {
  overflow: hidden;
}
ul {
  list-style-type: none;
}
li{
  float:left;
  padding: 10px;
}
li a{
  display: block;
  padding: 14px 16px;
  background-color: var(--grey);
  text-align: center;
  text-decoration: none;
  float:left;
  
}
li a:hover {
  background-color: var(--blue);
}
a.active {
  background-color: #666666 ;
  color: white;
}
}
.logo {
  width: 500px;
  float:left;

}
.icon{
  width: 100px;
  float:left;
}